body {
    background: rgb(0, 0, 0);
}
.post {
    background: rgb(253, 251, 251);
    width: 500px;
    height: 600px;
    margin: auto;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 1px solid white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px; 
      
}
.logo {
     width: 1000px;     
    font-size: 32px;
    cursor: pointer;
}
.escrito {
    display: flex;
    flex-direction: column;
    line-height: 1.1px;
}
.texto1 {
    font-size: 15px;
    margin: 1px;
    margin-top: 20px;
}
.texto2 {
    font-size: 15px;
    margin-left: 1px;
    margin-top: 10px;
}
.menu-interactivo {
    margin-left: 290px;
}
.post-body img {
    width: 500px;

}
.post-footer {
    display: flex;
}
.icons-left {
    margin-left: 10px;
    margin-top: 10px;
}
.icons-right {
    margin-left: 390px;
    margin-top: 10px;
    
}
.footer-tex p {
    margin-left: 15px;
}
